.dayContainer {    
    display: flex;
    justify-content: center;
    /* background-color: yellowgreen; */    
}

.dayComponent {
    /* background-color: aqua; */
    width: 90%;
    
    color: white;
    margin-bottom: 5px;
    /* height: 50px */
    padding: 5px;
    background-color: rgba(224, 218, 164, 0.3);
}
.dayComponent:hover {
    background-color: rgba(224, 218, 164, 0.4);
}

.dayHeader {
    /* background-color: brown; */
    display: flex;  
    justify-content: space-between;
    /* background-color: brown; */
    /* background-color: rgba(224, 218, 164, 0);     */
}



.dayHeaderLeft {
    /* background-color: yellowgreen; */
    font-size: small;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.monthDay {
    font-weight: bold;
}

.dayHeaderRight {
    /* background-color: yellowgreen; */
    display: flex; 
}

.temp {
    display: flex; 
    font-size: small;
}

.celsiumDay {    
    color: white;    
    margin: 0;    
}

.hiddenPart {
    display: none;
}

.dayBody {
    margin-top: 10px;
    background-color: rgba(224, 218, 164, 0.3);
}

.humidity {
    display: flex;
    font-size: small;
    padding: 2px 10px;
}

.humidityLabel {
    width: 50%;
    display: flex;
}

.dayFooter {
    display: flex;
    margin-top: 20px;
    padding-bottom: 10px;

    /* background-color: yellowgreen; */
    color:white;
    font-size: small;
    min-width: 100%;
    overflow-x: auto;    
}

.dayFooter::-webkit-scrollbar{
    height: 6px;
    /* width: 4px; */
    /* background: gray; */
    
}


/* Track */
.dayFooter::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px;
}
.dayFooter::-webkit-scrollbar-track:hover {
    /* background: #555;  */
    background-color: rgba(63, 63, 61, 0.4);

}
 
/* Handle */
.dayFooter::-webkit-scrollbar-thumb {
  background: transparent; 
  
}

/* Handle on hover */
.dayFooter::-webkit-scrollbar-thumb:horizontal:hover {
  /* background: #555;  */
  
  
}

.dayFooter::-webkit-scrollbar-thumb:horizontal{
    background: white;
    border-radius: 10px;
}


/*for the media*/
/* .dayFooter::-webkit-scrollbar {
    display: none;
  } */

.temp {
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
}

.hourBlock {
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
}

