.dayContainer {    
    display: flex;
    justify-content: center;  
}

.dayComponent {   
    width: 90%;    
    color: white;
    margin-bottom: 5px;   
    padding: 5px;
    background-color: rgba(224, 218, 164, 0.3);
}

.dayComponent:hover {
    background-color: rgba(224, 218, 164, 0.4);
}

.dayHeader {    
    display: flex;  
    justify-content: space-between;    
}

.dayHeaderLeft {    
    font-size: small;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.monthDay {
    font-weight: bold;
}

.dayHeaderRight {   
    display: flex; 
}

.temp {
    display: flex; 
    font-size: small;
}

.celsiumDay {    
    color: white;    
    margin: 0;    
}

.hiddenPart {
    display: none;
}

.dayBody {
    margin-top: 10px;
    background-color: rgba(224, 218, 164, 0.3);    
}

.humidity {
    display: flex;
    font-size: small;
    padding: 2px 10px;
}

.humidityLabel {
    width: 50%;
    display: flex;
}

.dayFooter {
    display: flex;
    margin-top: 20px;
    padding-bottom: 10px;    
    color:white;
    font-size: small;
    min-width: 100%;
    overflow-x: auto;    
}

.dayFooter::-webkit-scrollbar{
    height: 6px;    
}

/* Track */
.dayFooter::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px;
}

.dayFooter::-webkit-scrollbar-track:hover {   
    background-color: rgba(63, 63, 61, 0.4);
}
 
/* Handle */
.dayFooter::-webkit-scrollbar-thumb {
  background: transparent;   
}

.dayFooter::-webkit-scrollbar-thumb:horizontal{
    background: white;
    border-radius: 10px;
}

.temp {
    display: flex;   
    justify-content: center;
}

.hourBlock {    
    display: flex;
    flex-direction: column;
}

