.navbarContainer {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;     
    font-size: 2vw;
    margin-top: 8px;
    width: 80%;
    min-height: 50%;
}

.menu > div {
    transition: all 0.25s;
}

.menu>div:hover {    
    border-bottom: 1.5px solid white;
    cursor: pointer;
}

.activeDay {
    border-bottom: 1.5px solid white;
}

.searchContainer {
    display: flex;
    justify-content: center;
    width: 80%;
    border: 1px solid #424242;
    border-radius: 5px;
    background-color: #FFF;
    padding: 2px 5px;
    height: 1.8em;
}

.search {
    border: none;
    width: 100%;
    padding: 0px 5px;
    font-size: 15px;
    color: #424242;
    padding-left: 0.4em;  
}

.search:focus {
    outline: none;
}

.searchIcon {
    color: rgb(207, 205, 205);
    font-weight: bold;
    margin-top: 0.4em;
}
.searchIconHidden {
    display: none;
}

@media screen and (min-width: 351px) and (max-width: 700px) {
    .menu {
        font-size: 4vw;
    }
  }
  @media screen and (max-width: 350px) {
    .menu {
        font-size: 6vw; 
    }
  }

  .dropdownContainer {
    position: relative;
    width: 90%;
    background-color: aquamarine; 
  }

  .dropdownContainerHidden {
    display: none;
  }

  .dropdownCities {
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 54, 53);
    position: absolute;
    width: 100%;
    align-items: start;
}

  .dropdownCity {
    display: flex;
    text-align: left;
    padding-top: 1em;
    width: 100%;
    justify-content: flex-start;
    padding-bottom: 0.4em;
    color: white;
    user-select: none; /*user won't be able to copy the text*/
  }

  .pinSymbol {
    width: 1.1em;
    height: 1.2em;
    margin-right: 0.4em;
    margin-left: 0.3em;
    font-weight: bold;
    filter: invert(98%) sepia(2%) saturate(584%) hue-rotate(70deg) brightness(111%) contrast(82%);
  }
  
  .dropdownCity:hover {
    background-color:rgba(238, 252, 66, 0.85);
    color: black;
    cursor: pointer;
  }

  .dropdownCity:hover > img {
    filter: none;
  }