.todayContainer {
    display: flex;
   padding-top: 30px;
}

.todayContent {
    display: flex;
    flex-direction: column;
    height: 40%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    width: 100%;
    justify-content: center;
    overflow-x: auto;
    padding-bottom: 1em;
}

.currentTemp {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tempValue {
    font-size: 50px;
    display: flex;
}

.celsium {
    font-size: 30px;
    color: white; 
    margin: 0;
}

.symbol {  
    width: 50%;
}
.symbolContainer {
    width: 30%;
}

.feelsAndprecip {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: small;
}

.precipitation {
    width: 30%;
}

.data {
    display: flex;
    justify-content: flex-start;
    font-size: small;
}

/*--------------------------Chart-------------------------*/

.chartBox {
    overflow-x: auto;
    background-color: rgba(224, 218, 164, 0.336);
}

.chartBox::-webkit-scrollbar{
    height: 6px;
}

/* Track */

.chartBox::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
.chartBox::-webkit-scrollbar-track:hover {
    background-color: rgba(63, 63, 61, 0.4);
}
 
/* Handle */

.chartBox::-webkit-scrollbar-thumb {
  background: transparent;
}

.chartBox::-webkit-scrollbar-thumb:horizontal{
    background: white;
    border-radius: 10px;
}

.chartContainer {    
    width: 1200px;
    margin-top: 30px;
    position: relative;
}

/*-------------------------------------------------------*/

.detailsTitle {
    display: flex;
    font-weight: bold;
    font-size: small;
}

.todayDetails {
    display: flex;
    background-color: rgba(224, 218, 164, 0.336);
    padding: 2px; 
}

.detailsParameters {
    margin-right: 5em;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.detailsParameters div > p{
    margin: 0 0 0.4em 0;
    padding: 0;
}

.detailsValues {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: small;
}

.detailsValues > div {
    margin-bottom: 0.4em;
}

.astroTitle {
    display: flex;
    font-weight: bold;
    font-size: small;
}

.astroDetails {
    display: flex;
    background-color: rgba(224, 218, 164, 0.336);
    padding: 2px;
}

.astroParameters {
    margin-right: 5em;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.astroParameters div > p{
    margin: 0 0 0.4em 0;
    padding: 0;
}

.astroValues {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: small;
}

.astroValues > div {
    margin-bottom: 0.4em;
}


