.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background: url(bkg.jpg);
  background-size: cover;
  font-family:Arial, Helvetica, sans-serif ;
  display: flex;
  justify-content: center;
}

.content {
  width: 40%;
  background-color: rgba(0,0,0, 0.2);
}

.App-link {
  color: #61dafb;
}


