.App {
  text-align: center;
  width: 40%;
  height: 100vh;
  /* background-color: rgb(97, 164, 209); */
  background: url(bkg.jpg);
  background-size: cover;
  font-family: cursive;  
}


.App-link {
  color: #61dafb;
}
